.clock {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.symbol {
  animation-name: fading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
